{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Mapa de Noticias</h5>
                    <p class="card-text">
                        Visualización de artículos agrupados por similitud temática. Los artículos cercanos entre sí comparten temas o perspectivas similares.
                    </p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div class="map-container">
                {{ plot_div|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
