<div class="event-articles mb-4">
    <div class="row">
        <div class="col-md-3">
            <div class="event-info">
                <h4 class="event-title">{{ event.titulo }}</h4>
                <p class="event-description">{{ event.descripcion }}</p>
                <div class="event-meta">
                    <small class="text-muted">{{ event.fecha_evento }}</small>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="articles-carousel">
                <div class="carousel-wrapper">
                    {% for article in event.articles %}
                        {% include "components/article_card.html" %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
