<div class="time-filter">
    <div class="time-filter-label">Time Period:</div>
    <div class="toggle-slider">
        <input type="radio" id="24h" name="timeFilter" value="24" checked>
        <label for="24h">24h</label>
        
        <input type="radio" id="48h" name="timeFilter" value="48">
        <label for="48h">48h</label>
        
        <input type="radio" id="72h" name="timeFilter" value="72">
        <label for="72h">72h</label>
        
        <div class="slider"></div>
    </div>
</div>
