<div class="time-filter">
    <div class="time-filter-label">Time Period:</div>
    <div class="toggle-slider">
        <input type="radio" id="today" name="timeFilter" value="today" checked>
        <label for="today">Today</label>
        
        <input type="radio" id="week" name="timeFilter" value="week">
        <label for="week">Week</label>
        
        <input type="radio" id="month" name="timeFilter" value="month">
        <label for="month">Month</label>
        
        <div class="slider"></div>
    </div>
</div>
